button{
  background:var(--color-bg-tertiary);
  border-color:var(--color-bg-primary);
  border-radius:10px;
  padding:var(--padding-thin) var(--padding-small);
  margin-top:auto;
  margin-bottom: var(--padding-small);
}