footer{
  background:var(--color-bg-secondary);
  .wrapper{
    margin-top:var(--margin-thin);
    padding:var(--padding-small) 0;
    display:flex;
    justify-content: space-between;
    align-items:center;
    .logoMovieDb{
      width:30%;
    }

    .groupeLogoMedias{
      svg{
        fill:var(--color-link);
        margin-right:var(--margin-thin);
        :hover{
          fill:var(--color-link-hover);
        }
      }
    }
  }
}
