footer {
  background: var(--color-bg-secondary);

  .wrapper {
    margin-top: var(--margin-thin);
    padding: var(--padding-small) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .infoFooter {
      display: flex;
      justify-content: center;
      align-items: center;

      padding-left:var(--padding-small);
    }

    .copyright {
      margin-right: var(--margin-small);
    }

    .logoMovieDb {
      width: 30%;
    }

    .groupeLogoMedias {
      margin-right: var(--margin-large);

      svg {
        fill: var(--color-link);
        margin-right: var(--margin-thin);

        :hover {
          fill: var(--color-link-hover);
        }
      }
    }
  }
}

@media screen and (max-width: $vw-medium) {
  footer {
    .wrapper {
      .infoFooter {
        flex-direction: column;
        align-items: flex-start;
      }

      .copyright {
        margin-bottom: var(--margin-small);
      }

      .logoMovieDb {
        width: 30%;
      }

      .groupeLogoMedias {
        margin-bottom: var(--margin-small);
      }
    }
  }
}

