//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR

:root{
  // Couleur de base
  --color-white: #fff;
  --color-black: #000;



  // Couleurs du projet

  --color-text-primary:   #E9E9E9;
  --color-text-secondary: #000;
  --color-text-tertiary: #28211D;

  --color-link: #fff;
  --color-link-visited: #CC9268;
  --color-link-hover: #68C3CC;

  --color-bg-primary: #443C38;
  --color-bg-secondary: #28211D;
  --color-bg-tertiary: #7B442C;

}




