//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE

:root{
  /// Grosseur des textes

  --fz-normal: 1.125rem;
  --fz-link:1.5rem;

  /// Grosseur des titres

  --fz-h1: 7rem;
  --fz-h2: 2.25rem;
  --fz-h3: 2.25rem;
  --fz-h4: 2rem; //68px


  /// Font family

  --ff-normal: 'Puritan', sans-serif;
  --ff-title-primary: 'Do Hyeon', sans-serif;

  /// Fonts weight
  --fw-regular: 400;
  --fw-bold: 700;

}


